<%- include('../_layout/adminheader') %>

<h2 class="page-title">Add a Page</h2>
<a href="/admin/pages" class="btn btn-primary">Back to all pages</a>
<br><br>

<form method="post" action="/admin/pages/add-page">
   <div class="form-group">
       <label for="">Title</label>
       <input class="form-control" type="text"  name="title" value="<%= title %>" placeholder="Title"> 
   </div>
   <div class="form-group">
        <label for="">Slug</label>
        <input class="form-control" type="text"  name="slug" value="<%= slug %>" placeholder="slug"> 
    </div>
    <div class="form-group">
            <label for="">content</label>
            <textarea class="form-control" type="text" id="ta" cols="30" rows="10" name="content" value="<%= content %>" placeholder="content"></textarea> 
        </div>
        <button class="btn btn-success">submit</button>
</form>

<%- include('../_layout/adminfooter') %>